@CHARSET "UTF-8";

body {
	font: 12px Times New Roman, arial, helvetica, sans-serif;
	background-color: #FFFFFF;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

a {
	color: #227700;
}

a:link {
	color: #006655;
	white-space: nowrap;
	text-decoration: blink;
	font-size: 12px;
	font-family: Times New Roman, arial, helvetica, sans-serif;
	font-weight: bold;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	background-repeat: repeat-x;
	background-position: 100% 100%;
	padding-bottom: 3px;
	color: #666666;
}

a:active {
	text-decoration: none;
}

.header {
	font-size: 20px;
	font-family: Times New Roman, arial, helvetica, sans-serif;
	font-weight: bold;
	color: #666666;
}

.headerbg {
	width: 100%;
	background-color: #FFD700;
	border: 0;
	padding: 0;
}

.subheader {
	font-size: 20px;
	font-family: Times New Roman, arial, helvetica, sans-serif;
	font-weight: bold;
	color: #666666;
}

.headerright {
	font-family: Times New Roman, arial, helvetica, sans-serif;
	font-size: 15px;
	font-style: normal;
	font-color: #000000;
}

.footer {
	text-align: center;
	font-family: Times New Roman, arial, helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
}

.footerbg {
	width: 100%;
	background-color: #FFD700;
	border: 0;
	padding: 0;
}


table.wwFormTable {
	font: 16px Times New Roman, arial, helvetica, sans-serif;
	border-width: 1px;
	border-color: #030;
	border-style: solid;
	color: #242;
	width: 30%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 2%;
	
}

 th {
	font-family: Times New Roman, arial, helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight:bold;
	font-variant:inherit;
	text-align:left;
	background-color:#FFD700;	
	color:#666666;
}

table.wwFormTable tr td {
	background-color: #FFFFFF;
	margin: 5px;
	padding: 5px;
}

.tdLabel { /*border-width: 1px;
border-color: #afa;
border-style: solid;
*/
	background-color: #EEEEEE;
	font: 12px Times New Roman, arial, helvetica, sans-serif;
	font-weight: bold;
	align: top;
}

.label {
	font-size: 55px;
}

.errorMessage {
	color: red;
	font-size: 12px;
}

.topheader {
	padding:5px;
	
}

.topheaderbkg {
	height:30;
	background-repeat: repeat;
	background-position:top left;
	text-align:center;
	width:100%;
	color: #FFFFFF;
	background-color: #003399;
}
.topheaderbkg50 {
	background-repeat: no-repeat;
	background-position:top left;
	width:100%;
	color: #FFFFFF;
}
.topheaderbkg1 {
	background-image:url(topheader_05.gif);
	background-repeat: repeat;
	background-position:top left;
	color: #FFFFFF;
	background-color: #003399;
}


.logo {
	float:left;
	display:inline; 
	background-color:#FFFFFF;
	height:45px;
	padding:0px;
}

.siteTitle{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:28px;
	font-weight:bold;
	color:#666666;
	margin-bottom:20px;
	font-style: italic;
}

.contentArea {
	padding-top:20px;
	padding-left:2px;
	padding-right:2px;
	padding-bottom:5px;
	background-repeat: repeat-x;
	background-position:top left;
}

.contentButtonArea {
	font-family: verdana;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	background-color:#666666;
	height: 30px;
	padding-right: 10px;
	padding-left: 10px;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-top-color: #FF9900;
	border-bottom-color: #FF9900;
	border-bottom-style: solid;
}
	
.inputbutton1 {
	font-family: verdana;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #0979B8;
	height: 19px;
	width: ;
	border-top: 1px solid #ffffff;
	border-right: 1px solid #0979B8;
	border-bottom: 1px solid #0979B8;
	border-left: 1px solid #ffffff;
}

.tableborder { 
	border-color: #87CEFA; 
	border-style: solid;
	font: 13px Times New Roman, arial, helvetica, sans-serif;
	width: 95%;
}
.newfont { 
	font: 13px Times New Roman, arial, helvetica, sans-serif;
	width: 101%;
}

.tablesubmenu { 
	border-width: 7px; 
	border-style: outset;
}

.tdsubmenu { 
	border-width: medium; 
	border-style: outset;
}

.h5 { border-left-style: groove; 
border-left-color: #F2F7FF; 
border-left-width: 5px; 
border-bottom-style: ridge; 
border-bottom-color: #F2F7FF; 
border-bottom-width: 4px; }

.h6{
	border-left-style: groove; 
border-left-color: #F2F7FF; 

}
#headerDiv {
	border-style: solid;
	border-width: 1px 1px 0px;
	border-color: black;
	padding: 5px;
	background-color: #7a7;
	/* height: 22px; */
	height: 1.8em;
	/* margin-bottom: 12px; */
}

#buttonBar {
	border-width: 0px 1px 1px;
	border-style: solid;
	border-color: black;
	color: white;
	margin-bottom: 12px;
	background-color: #7a7;
	height: 1.6em;
	padding: 5px;
}

#appName {
	color: white;
	font-size: 1.8em;
}

#pageTitle {
	font-size: 1.4em;
	color: #dfd;
	clear: none;
}

#appName,#pageTitle {
	float: right;
}

#menuContainer {
	float: left;
}

#brandingContainer {
	float: right :    
    text-align : right;
}

.subMenu {
	font-family: sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: blue;	
	padding: 1px;

}
.mainMenu{
	font-family: sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: black;
	padding: 1px;
}
.mainSubMenu{
	font-family: sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: black;	
	padding: 1px;
}

.topheaderbkg12 {
	background-repeat: no;
	background-position:top left;
	color: #FFFFFF;
}
.background{
color: #46a9ce;


}

.topheaderbkg1 {
	background-repeat: repeat;
	background-position:top left;
	color: #FFFFFF;
	text-align: center;
}

.FontProperty {
	font-size: 12px;
	font-family: sans-serif;
	font-style: normal;
}
.tableborder1 { 
	border-color: #87CEFA; 
	border-style: solid;
	font: 13px Times New Roman, arial, helvetica, sans-serif;
	
}
.tdBookTickets{
	width:50%;
}
.tdLogin{
	width:50%;
	padding-top:20px;
}

#contactus input:focus,textarea:focus
{
  color : #009;
  border : 1px solid #000000;
  background-color : #F8F8F8 ;
  font-weight:bold;
}
